{% extends "tail/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container top">
        	<div class="row">
            	<div class="jumbotron col-lg-6" style="padding: 19px">
                        <div class="row">
                            <div class="col-lg-12">
                                <h3>Post Not Available</h3>
                                <p>This post is not currently accepting responses.</p>
                            </div>
                        </div>
   				</div>
            </div>
        </div>
{% endblock %}