{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% block title %}LionsMatter | Password Reset Confirm{% endblock %}
{% block content %}
	{% if validlink %}
    	<div class="container top">
    		<div class="row-fluid">
       			<h1>{% trans 'Enter new password' %}</h1>
				<div class="well col-sm-8">
                	<p style="margin-bottom: 15px">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
					<form action="" method="post">
                		{% csrf_token %}
						{{ form.new_password1.errors }}
						<div class="form-group">
                            {% render_field form.new_password1 class="form-control" placeholder="New password" %}
                        </div>
						{{ form.new_password2.errors }}
                        <div class="form-group">
                        	{% render_field form.new_password2 class="form-control" placeholder="Re-enter new password" %}
                        </div>
						<div class="form-group" style="height: 34px">
                        	<input class="btn btn-primary pull-right" type="submit" value="{% trans 'Change my password' %}"/>
                        </div>    
					</form>
				</div>
            </div>
        </div>
	{% else %}
		<div class="container top">
    		<div class="row-fluid">
				<h1>{% trans 'Password reset unsuccessful' %}</h1>
				<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a " %}<a href="{% url 'password_reset' %}">{% trans "new password reset" %}</a>.</p>
			</div>
        </div>
	{% endif %}
{% endblock %}