/* Key
    - general rule:
        - threshold: #606060 (body background-color)
        - if hex-color:
            -repeat lowest non-zero value
            - if at/below threshold:
                - half lowest non-zero value
                - opacity(1)
            - else:
                - opacity(.75)
        - if rgba():
            - half alpha level
    - ex: #006080 -(60)> #303030
    - ex: #808080 -(80)> rgba(128,128,128,.75)
*/

body{background-color: #606060}


/* navbar.css */
@media all and (min-width: 767px){.navbar{background-color: #303030;}}
.navbar .navbar-header .navbar-toggle .icon-bar{background-color: rgba(255,255,255,.75);}
.navbar .navbar-header .navbar-toggle:hover{background-color: rgba(0,0,0,.25);}
.navbar .navbar-header .navbar-brand{color: rgba(255,255,255,.75);}
@media all and (max-width: 767px)
{
	.navbar .navbar-header{background-color: #333333;}
    .navbar .navbar-collapse{background-color: rgba(96,96,96,.75); border-color: rgba(0,0,0,.05);}
    .navbar .navbar-collapse hr{border-top-color: rgba(0,0,0,.25);}
    .navbar .nav-pages-mobile .nav li.list-container{border-color: rgba(110,110,110,.75);}
	.navbar .nav-pages-mobile .nav li.list-container .item{border-bottom-color:  rgba(110,110,110,.75); color: #202020;}
	.navbar .nav-pages-mobile .nav li.list-container .item:hover, .navbar .nav-pages-mobile .nav li.list-container .item:active{background-color: rgba(0,0,0,.1); color: #202020;}
	.navbar .nav-pages-mobile .nav li.list-container .item.new{background-color: rgba(255,255,0,.05); border: 1px solid rgba(127,127,0,.25); border-top: none;}
	.navbar .nav-pages-mobile .nav li.list-container .item.new:first-child{border-top-right-radius: 4px; border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -moz-border-radius-topleft: 4px; -webkit-border-top-right-radius: 4px; -webkit-border-top-left-radius: 4px; border-top: 1px solid rgba(127,127,0,.25);}
    .navbar .nav-pages-mobile .nav li.list-container .item.new:last-child{border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-right-radius: 4px; -webkit-border-bottom-left-radius: 4px;}
    .navbar .nav-pages-mobile .nav li.list-container .item.new:hover,.navbar .nav-pages-mobile .nav li.list-container .item.new:active{background-color: rgba(255,255,0,.1);}
	.navbar .nav-pages-mobile .nav li.list-container .link{color: #202020;}
	.navbar .nav-pages-mobile .nav li.list-container .link:hover,.navbar .nav-pages-mobile .nav li.list-container .link:active{background-color: rgba(0,0,0,.5); color: rgba(255,255,255,.75);}
	.navbar .nav-pages-mobile .nav li.list-container hr{border-top-color: rgba(110,110,110,.75);}
    .navbar .nav-pages-mobile .nav li.list-footer a{color: #505050;}
    .navbar .nav-pages-mobile .nav li.list-footer a:hover,.navbar .nav-pages-mobile .nav li.list-footer a:active{color: #202020;}
    .navbar .nav-tabs{background-color: #2b2b2b;}
	.navbar .navbar-collapse .nav-tabs li a{color: rgba(255,255,255,.75);}
	.navbar .navbar-collapse .nav-tabs li a:hover{background-color: rgba(220,220,220,.35); border-color: rgba(110,110,110,.75); border-bottom-color: transparent; color: #202020;}
	.navbar .navbar-collapse .nav-tabs li.active a{background-color: rgba(255,255,255,.43); border-color: rgba(110,110,110,.75); border-bottom-color: transparent; color: #202020;}
    .navbar .navbar-collapse .nav-collapse .nav li a:hover{background-color: rgba(0,0,0,.05);}
}
@media all and (min-width: 768px)
{
	.navbar .navbar-collapse .nav li a{color: rgba(255,255,255,.75);}
    .navbar .navbar-collapse .nav li.button a:hover, .navbar .navbar-collapse .nav li.button a:focus{background-color: rgba(0,0,0,.5);}
    .navbar .navbar-collapse .nav li.dropdown.open a{background-color: rgba(0,0,0,.5);}
	.navbar .navbar-collapse .nav li.dropdown .dropdown-menu hr
	{	margin: 10px 0px;
	}
	.navbar .navbar-collapse .nav li.dropdown .dropdown-menu li a
	{	background-color: transparent;
		color: #404040;
	}
	.navbar .navbar-collapse .nav li.dropdown .dropdown-menu li a:hover
	{	background-color: rgba(0,0,0,.75);
		color: #ffffff;
	}
}

/*Navbar Dropdown List-Item Classes*/
.navbar .navbar-collapse .nav li.dropdown .dropdown-menu .list-group
{	margin-bottom: 0px;
}
.navbar .navbar-collapse .nav li.dropdown .dropdown-menu .list-group .list-group-item
{	background-color: transparent;
	border-bottom: none;
	border-left: none;
	border-radius: 0px;
	border-right: none;
	color: #333333;
}
.navbar .navbar-collapse .nav li.dropdown .dropdown-menu .list-group .list-group-item.new
{	background-color: rgba(255,255,0,.1);
}
.navbar .navbar-collapse .nav li.dropdown .dropdown-menu .list-group .list-group-item.new:hover
{	background-color: rgba(255,255,0,.2);
}
.navbar .navbar-collapse .nav li.dropdown .dropdown-menu .list-group .list-group-item:hover
{	background-color: rgba(0,0,0,.025);
}
.navbar .navbar-collapse .nav li.dropdown .dropdown-menu .list-group-footer
{	border-top: 1px solid #dddddd;
	padding-bottom: 4px;
	padding-top: 9px;
}
.navbar .navbar-collapse .nav li.dropdown .dropdown-menu .list-group-footer a
{	background-color: transparent;
	color: #428bca;
}
.navbar .navbar-collapse .nav li.dropdown .dropdown-menu .list-group-footer a:hover
{	background-color: transparent;
	color: #2a6496;
}

body
{	min-width: 402px; 
}

/* Bootstrap Overrides */
.dropdown-menu
{	z-index: 1;
}
.dropdown-menu li a:hover
{	background-color: rgba(0,0,0,.75);
	color: #ffffff;
}

/* Helper Classes - Links */
a,a:hover,a:active,a:focus{outline: 0;}/* F*** Firefox */
a.link-bright
{	color: #53aefc;
}
a.link-bright:hover,
a.link-bright:focus,
a.link-bright:active
{	color: #3886c9;
}
a.link-colorinherit
{	color: inherit;
}
a.link-colorinherit:hover,
a.link-colorinherit:focus,
a.link-colorinherit:active
{	color: inherit;
}
a.link-drkgray
{	color: #606060;
}
a.link-drkgray:hover,
a.link-drkgray:focus,
a.link-drkgray:active
{	color: #404040;
}
a.link-muted
{	color: #999999;
}
a.link-muted:hover,
a.link-muted:focus,
a.link-muted:active
{	color: #808080;
}
a.link-supermuted
{	color: rgba(0,0,0,.2);
}
a.link-supermuted:hover,
a.link-supermuted:focus,
a.link-supermuted:active
{	color: rgba(0,0,0,.5);
}
a.link-nounderline:hover,
a.link-nounderline:focus
{	text-decoration: none;
}
/* Helper Classes - Positioning */
.pull-center
{	display: block;
	margin-left: auto;
	margin-right: auto;
}
.pull-left
{	margin-left: 0px;
}
.pull-right
{	margin-right: 0px;
}
/* Helper Classes - Structure */
.top
{	margin-bottom: 30px;
	margin-top: 60px;
    padding: 0px;
}
@media all and (max-width: 767px)
{
    .container.top
    {   padding: 0px;
    }
}
/* Helper Classes - Style */
.vote.gold
{	background-color: rgba(128, 128, 64, 0.75);
}
.vote.positive
{	background-color: rgba(64, 128, 64, 0.75);
}
.vote.neutral
{	background-color: rgba(128, 128, 128, 0.75);
}
.vote.negative
{	background-color: rgba(128, 64, 64, 0.75);
}
.vote .arrow-up:hover,
.vote .arrow-down:hover
{	background-color: rgba(0, 0, 0, 0.15);
}
.vote .arrow-up:active,
.vote .arrow-down:active
{   background-color: rgba(0, 0, 0, 0.2);
}
.vote .arrow-up.voted,
.vote .arrow-down.voted
{	background-color: rgba(0, 0, 0, 0.25);
}
.vote .arrow-up.voted:hover,
.vote .arrow-down.voted:hover
{	background-color: rgba(0, 0, 0, 0.35);
}

/* Responsive Tags */
desktop
{	display: inherit;
}
desktoptablet
{	display: inherit;
}
mobile
{	display: none;
}
mobiletablet
{	display: none;
}
tablet
{	display: none;
}
@media all and (max-width: 767px)
{
    desktop
	{	display: none;
	}
	desktoptablet
	{	display: none;
	}
	mobile
	{	display: inherit;
	}
	mobiletablet
	{	display: inherit;
	}
	tablet
	{	display: none;
    }
}
@media all and (min-width: 768px) and (max-width: 992px)
{
	desktop
	{	display: none;
	}
	desktoptablet
	{	display: inherit;
	}
	mobile
	{	display: none;
	}
	mobiletablet
	{	display: inherit;
	}
	tablet
	{	display: inherit;
	}
}
@media all and (min-width: 992px)
{
	desktop
	{	display: inherit;
	}
	desktoptablet
	{	display: inherit;
	}
	mobile
	{	display: none;
	}
	mobiletablet
	{	display: none;
	}
	tablet
	{	display: none;
	}
}