{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container top">
        	<div class="row">
            	<div class="col-lg-12"><h1 style="margin-bottom: 19px">Activation successful</h1></div>
            	<div class="jumbotron col-lg-6" style="padding: 19px">
                        <div class="row">
                            <div class="col-lg-12">
                                <h3>You can now harness the full power of LionsMatter</h3>
                            </div>
                        </div>
   				</div>
                <img class="col-lg-offset-2 col-lg-4" src="{% static 'img/roscoe-logo_medium.png' %}"/>
            </div>
        </div>
{% endblock %}