{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container top">
        	<div class="row">
            	<div class="col-lg-12"><h1 style="margin-bottom: 19px">Sign up complete</h1></div>
            	<div class="jumbotron col-lg-6" style="padding: 19px">
                        <div class="row">
                            <div class="col-lg-12">
                                <h3>Thanks for joining LionsMatter!</h3>
                                <p>Please check your email to fully activate your account.</p>
                            </div>
                        </div>
   				</div>
            </div>
        </div>
{% endblock %}